.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
tsconfig.json
eslint.config.mjs
*.map
*.ts
.vscode-test.*
docker-compose.yml
.env
.env-keep
seed.sql
justfile
test/
.release-please-manifest.json
CHANGELOG.md
README.md
release-please-config.json


